body {
  background-image: image-url("background.jpg");
  font-family: Typewr;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: Typewr;
}

a {
  color: $red;

  &:hover, &:active, &:visited {
    color: $red;
    text-decoration: underline;
  }
}

.pagination {
  .current {
    background: $red;
  }
}

.button {
  background: $red;

  &:hover {
    background: $dark-red;
  }
}

.callout.alert {
  background: $alert-color;
}

.callout.notice {
  background: $success-color;
}

.fi-heart {
  color: $pink;
  &:hover, {
    color: $dark-red;
    text-decoration: none;
  }
}

.picked.fi-heart {
  color: $dark-red;
}
