.row.medium-8.large-7.columns
  h3 About Us
  p
    ' Actually waistcoat iphone chambray vinyl. Vinegar keytar kitsch dreamcatcher. Kogi skateboard
    ' helvetica meggings pbr&b. Disrupt art party pitchfork goth skateboard park selfies stumptown.
    ' Vinyl occupy thundercats mustache echo pitchfork. Bicycle rights tumblr narwhal kale chips
    ' shoreditch. 3 wolf moon retro schlitz flexitarian cred +1 hammock thundercats. Humblebrag meh
    ' bespoke marfa whatever brunch ethical.
  p
    ' Narwhal hoodie cray hella. Chartreuse thundercats marfa goth cronut intelligentsia. 90's pbr&b
    ' hella photo booth flannel pork belly raw denim. Biodiesel scenester cred bespoke you probably
    ' haven't heard of them.
    ' Echo distillery shabby chic tattooed disrupt kickstarter readymade. Scenester swag tofu poutine
    ' stumptown. Five dollar toast keytar keffiyeh master poutine.
    ' Fingerstache raw denim microdosing. Green juice pop-up cornhole locavore portland loko cred.
  p
    ' Park whatever cronut literally vinegar quinoa drinking.
    ' Echo diy kinfolk raw denim. Sustainable authentic wes anderson pinterest letterpress
    ' williamsburg art party. Blog jean shorts freegan cornhole wes anderson pabst cred marfa. Flannel
    ' +1 raw denim drinking.
    ' Gastropub ennui photo booth bespoke kombucha. Truffaut 8-bit tattooed letterpress poutine
    ' single-origin coffee. Synth intelligentsia tilde. Ramps letterpress xoxo jean shorts vinegar
    ' lo-fi tote bag pop-up.
  p
    ' Wayfarers poutine godard ennui. Viral hella letterpress quinoa put a bird on it pinterest
    ' artisan knausgaard. Tote bag taxidermy try-hard yuccie next level food truck.
