.fi-heart {
  color: $pink;
}

a.fi-heart {
  &:hover {
    color: $dark-red;
    text-decoration: none;
  }
}

.likes-count {
  color: $pink;
  flex-grow: 1;
  text-align: center;
}

.picked.fi-heart {
  color: $dark-red;
}

.likes-info {
  display: flex;
}

.likes-info > * {
  margin: 5px;
}
