.fi-heart {
  color: $pink;
}

a.fi-heart {
  &:hover {
    color: $dark-red;
    text-decoration: none;
  }
}

.likes-count {
  flex-grow: 1;
  color: $pink;
  text-align: center;
}

.picked.fi-heart {
  color: $dark-red;
}

.likes-info {
  display: flex;

  > * {
    margin: 5px;
  }
}
